@import url("https://fonts.googleapis.com/css2?family=Halant:wght@400;700&family=Inter:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.linkStyles {
    color: white;
    text-decoration: none;
    margin: 0 2rem;
    padding: 5px; /* Add 1px spacing between text and border */
    position: relative;
  }

  .linkStyles_active {
    color: white;
    text-decoration: none;
    margin: 0 2rem;
    padding: 5px; /* Add 1px spacing between text and border */
    position: relative;
    border-bottom: 5px solid #3FCD9A; /* Add border to active link */
  }
  
  .linkStyles::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 5px;
    background-color: #3FCD9A;
    transition: width 0.3s ease-in-out;
  }
  
  .linkStyles:hover::before {
    width: 100%;
  }
  
